<div class="panel panel-success">
  <div class="panel-heading">Album all Comments
  </div>
  <div class="panel-body">
    <% if @comments.present? %>
      <% @comments.each do |comment| %>
        <p><%= comment.comment %></p>
     <% end %>
    <% end %>
  </div>
</div>


