<div class="container upload">
  <div class="jumbotron">
    <h2>Welcome user create your album here..</h2>
    <p><%= link_to "click here", new_user_album_path(:user_id), class:'btn log btn-info' %> </p> 
  </div>
</div>