<% if @comments.present? %>
  <% @comments.each do |comment| %>
    <% comment_author =  %>
    <p> This comment is sent by:
    <b><%= link_to comment_author_name(comment.user_id), user_path(comment.user_id) %></b></p>
    <p><%=comment.comment %>
      <%= link_to "Accept", home_comment_popup_path(:comment_id =>comment.id), remote: true %> 
    </p>
  <% end %>
<% else%>
  <div id="no_comment_msg">
    <p><b>There in no new comments<br>please close popup to go back</b></p>
  </div>
<% end %>
