<div class="container">
<% if user_signed_in? %>
  <h3>you have succesfully signed in</h3>
  <%= render 'flash' %> 
  <%= render 'headerup_in' %>
  <%= render 'albumpage' %>
  <% else %>
  <%= render 'header' %>
<% end %>
</div>
