<div class="row imageshow">
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Albums", user_albums_path(current_user.id) %></li>
    <li><%= link_to "Images", user_album_path(current_user.id, params[:album_id])  %></li>
    <li class="active">Image</li>       
  </ol> 
  <div class="col-sm-5 col-sm-offset-1">
    <%= image_tag @image.photo_url() %> 
  </div>
</div>
