<div class="wrap">
  <div class="left-content">
    <div class="menu">      
      <ol id="filters">
        <li class="home"><a href="index.html">Home</a></li>
        <li class="photo" data-filter="photos">Album</li>
        <li class="video" data-filter="video">signout</li>
      </ol>
    </div>
  </div>
  <div class="right-content">
    <div class="header">     
      <div class="search_box">
        <form>
          <input type="file">
        </form>
      </div>
    </div>
    <div id="content">
      <div id="main" role="main">
        <ul id="tiles">
          <!-- image item -->
        </ul>
      </div>
    </div>
  </div>
</div>